* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 120vh;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #2d2340;
}

a {
  text-decoration: none;
  color: inherit;
}